@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

body{
    background-color: #d0a0a0;
    height: 100vh;
    box-sizing: border-box;
    gap: 40px;
}

.mainText{
    color:rgb(254, 11, 11);
    fill: none;
    background: transparent;
    border: none;
    font-size: 36px;
    height: 350px;
    width: 640px;
    text-align: start;
     
}

.result_Box{
    color:rgb(254, 11, 11);
    fill: none;
    background: transparent;
    border: none;
    font-size: 36px;
    height: 350px;
    width: 640px;
    text-align: center;

}

::placeholder{
    color: red;
}

.mainBody{
    display: flex;
    align-items: center;
    margin: 20% 15%;
    justify-content: space-between;
    gap: 40px;
    
    

}

.text_Button_Box{
    
    flex-direction: row;
    font-size: 36px;
    gap: 40px;
    
}

.result_Button_Box{
    flex-direction: row;
    justify-content: start;
    text-align: start;
    font-size: 36px;
    gap: 40px;
}

.app__buttons{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    

}

.encrypt_button{
    width: 310px;
    background-color: #0A3871;
    font-size: 28px;
    padding: 21.5px 0;
    border-radius: 24px;
    
}
.encrypt_button:hover{
    background-color: #D8DFE8;

}

.decrypt_button{
    width: 310px;
    background-color: #0A3871;
    font-size: 28px;
    border-radius: 24px;  
}
.decrypt_button:hover{
    background-color: #D8DFE8;

}




.text_warning{
    display: flex;
}
.warning{
    width: 4%;
}

.logoMain{
    width: 10%;
}